# Default code owners for all files in this repository.
# A code owner is automatically requested for review when a pull request
# changes any file in their assigned path. See:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*  @msambare
